@{
    ViewData["Title"] = "Quadrants";
}
@model List<NewTask>
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Q1</h1>
            <h2>Important/Urgent</h2>
            <ul>
                @foreach (var x in Model)
                {
                    <li>@x.Task</li>
                    <li>@x.DueDate</li>

                    <li><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></li>
                    <li><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></li>

                }
            </ul>
        </div>
        <div class="col-6">
            <h1>Q2</h1>
            <h2>Important/Not Urgent</h2>
            <ul>
                @foreach (var x in Model)
                {
                    <li>@x.Task</li>
                    <li>@x.DueDate</li>

                    <li><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></li>
                    <li><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></li>

                }
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h1>Q3</h1>
            <h2>Not Important/Urgent</h2>
            <ul>
                @foreach (var x in Model)
                {
                    <li>@x.Task</li>
                    <li>@x.DueDate</li>

                    <li><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></li>
                    <li><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></li>
                }
            </ul>
        </div>
        <div class="col-6">
            <h1>Q4</h1>
            <h2>Not Important/Not Urgent</h2>
            <ul>
                @foreach (var x in Model)
                {
                    <li>@x.Task</li>
                    <li>@x.DueDate</li>

                    <li><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></li>
                    <li><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.TaskID">Delete</a></li>
                }
            </ul>
        </div>
    </div>
</div>